extend ../admin-layout

block content
  if create
    - var title = 'Create'
    - var action = '/admin/articles/'
  else
    - var title = 'Edit'
    - var action = '/admin/articles/' + article.id

  if errors.length > 0
    p.alert.alert-danger There were errors

  h1 #{title} Article

  form(action=action, method='post')
    unless create
      input(type='hidden', name='_method', value='PUT')

    .form-group(class=errors.category ? 'has-error' : null)
      if category
        label.control-label Category: #{category.name}
        input(type='hidden', name='article[category]', value=category.id)
      else
        label.control-label Category
        select.form-control(name='article[category]')
          each cat in categories
            if article.category
              - var article_category = article.category.id
            option(value=cat.id, selected=cat.id==article_category)= cat.name
      if errors.category
        p.help-block= errors.category
    .form-group(class=errors.title ? 'has-error' : null)
      label.control-label Title
      input.form-control(type='text', name='article[title]', value=article.title)
      if errors.title
        p.help-block A title needs to exist
    .form-group
      label.control-label State
      select.form-control(name='article[state]')
        each state in ['draft', 'published', 'withdrawn']
          option(value=state, selected=(article.state==state))= state
    .form-group
      label.control-label Text
      textarea.form-control(name='article[text]')
        != article.text
    .form-group
      a.btn.btn-danger(href='/admin/articles') Cancel
      button.btn.btn-primary Save

