extends ../admin-layout

block content
  
  if create
    - var title = 'Create'
    - var action = '/admin/categories'
  else
    - var title = 'Edit'
    - var action = '/admin/categories/' + category.id

  if errors.length > 0
    p.warning There were errors

  h1 #{title} Category

  unless create
    p.warning Warning: changing a category name will change its URL!

  form(action=action, method='post')
    unless create
      input(type='hidden', name='_method', value='PUT')
    .form-group(class=errors.name ? 'has-error' : null)
      label.control-label Name
      input.form-control(type='text', name='category[name]', value=category.name)
      if errors.name
        p.help-block
          span.glyphicon.glyphicon-remove
          = errors.name
    .form-group
      label
        input(type='checkbox', checked=category.visible, name='category[visible]')
        | Visible in Nav?
    .form-group
      label
        input(type='checkbox', checked=category.active, name='category[active]')
        | Active
    .form-group
      a.btn.btn-danger(href='/admin/categories') Cancel
      button.btn.btn-primary Save

